.body{
    background-color: #0C4160	;
}

.pyform{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
}
.com{
    font-family: 'Montserrat', sans-serif;
    background-color: #0C4160;
}
.lbc{
    font-family: 'Montserrat', sans-serif;
}